{% extends 'base.html' %}

{% block body %}

    <main role="main" class="container">

      <div class="row">

        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">关于</h2>
                <p class="blog-post-meta"><a href="#"></a></p>
      
                <p>微笑着敲键盘 </p>
                <p>写写优美的诗句 听着键盘清脆的声音.</p>
                

        </div><!-- /.blog-main -->

        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
         
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}