
{% extends 'base.html' %}

{% block body %}
<main role="main" class="container">

    <div class="row">

      <div class="col-sm-12 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">标签列表</h2>
          <p class="blog-post-meta"> <a href="#"></a></p>
          <p id="tags_list">

          </p>

        </div><!-- /.blog-post -->

      </div><!-- /.blog-main -->

      <aside class="col-sm-3 ml-sm-auto blog-sidebar">
        
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->
{% endblock %}

{% block body_js %}

<script src="../js/lib/jquery-3.2.1.js" ></script>
<script src="../js/lib/jquery.md5.js" ></script>
<script src="../js/lib/popper.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/blog/common.js"></script>
<script src="../js/blog/tags.js"></script>
{% endblock %}